@model IEnumerable<MBSA_Dev_Test.Models.Project>
@{
    ViewData["Title"] = "Get Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Projects</h2>

<div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="IMG SRC" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">Project Name</a>
            </h4>
            <p id="description" class="card-text">Project Description</p>
            <div id="descr"></div>
        </div>
    </div>
</div>
<script src="~/vendor/LoadProjects.js"></script>
@*<script src="~/Scripts/jquery.js"></script>
<script>
    $(document).ready(function () {
        //Call EmpDetails jsonResult Method
        $.getJSON("Projects/GetProjects",
            function (json) {
                var tr;
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td>" + json[i].Id + "</td>");
                    tr.append("<td>" + json[i].Name + "</td>");
                    tr.append("<td>" + json[i].City + "</td>");
                    tr.append("<td>" + json[i].Address + "</td>");
                    $('portfolio-item').append(tr);
                }
            });
    });
</script>*@

